.AboutSection{
      display: flex;
      padding: 10px;
      width: 75%;
      margin: 0 auto;
      height: auto;
      flex-direction: column;
}

.AboutSubSection{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;  
}
.AboutImage{
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: contain;
      transition: 50ms filter ease-in-out;
      z-index: -1;
}

.ImageContAbout{
      width: 260px;
      height: 36vh;
      object-fit: cover;
}
.AboutHead{
      display: flex;
      color: rgb(175, 175, 175);
      font-size: 1.5rem;
      font-family: "Poppins", sans-serif !important;
      font-weight: 800 ;
      align-items: center;
      gap: 5px;
}

.AboutPara{
      width: 50%;
      padding: 10px;
      color: rgb(175, 175, 175);
      font-size: 1.1rem;
      text-align: justify;
}

@media screen and (max-width: 750px){
      .AboutSubSection{
            flex-direction: column-reverse;
      }
      .AboutPara{
            width: 100%;
      }
      .ImageContAbout {
            width: 180px;
            height: 25vh;
      }
}