@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Nerko+One&family=Poppins&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none !important;
}
.iDKWcq{
  background: #00FF7F !important;
}
.dBrsQB:is(:hover,:focus,:active) > .sc-gKPRtg{
  background: #000 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(179, 178, 178);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
  background: #00FF7F
}


.app{
  width: 100%;
  height: auto;
  background: rgb(5 15 47);
  /* background-color: #1e2c42; */
}

.NavLinkBullet {
  font-family: "Source Code Pro", monospace;
  color: #00FF7F;
}
.NavLinkBullet.clickpurple:hover , .tilttext.clickpurple:hover{
  color: #ff00e1;
}
.StraightLine{
  width: 50%;
  height: 1px;
  background: rgb(179, 178, 178);
}
.HorizontalLine{
  width: 1px;
  height: 160px;
  background: rgb(179, 178, 178);
}